[Unit]
Description=pidesktop poweroff service
DefaultDependencies=no
Before=poweroff.target
Requires=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pidesktop/pd-poweroff/pd-poweroff

[Install]
WantedBy=poweroff.target
