[Unit]
Description=pidesktop poweroff service
DefaultDependencies=no
Before=poweroff.target
Requires=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/share/pidesktop/pd-poweroff.py

[Install]
WantedBy=poweroff.target
