[Unit]
Description=carbon-relay-ng
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=carbon-relay-ng
Group=carbon-relay-ng
ExecStart=/usr/bin/carbon-relay-ng /etc/carbon-relay-ng/carbon-relay-ng.conf
KillSignal=SIGINT
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
